/* Adding Varaibles
=================== */
:root {
    --bg-dark-color: #192A32;
    --bg-light-color: #1F3540;
    --bg-accent-color-yellow: #F2B137;
    --bg-accent-color-yellow-dark: #906C29;
    --bg-accent-color-green: #31C4C0;
    --bg-desaturated-color: #A8BCC9;
    --bg-desaturated-dark-color: #646E74;
}


/* Reset page default stylings and Global Styles
================================================ */
*,
*::before,
*::after {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
    color: #fff;
}

*::selection {
    background-color: var(--bg-accent-color-yellow);
    color: #fff;
}

body {
    background: var(--bg-dark-color);
    overflow-x: hidden;
    width: 100vw;
    padding-top: 10px;
}

#app {
    min-height: 100vh;
    margin: auto;
}

button {
    cursor: pointer;
}

.watermark {
    position: absolute;
    opacity: 0.02;
    z-index: -1;
}

.watermark.o {
    width: 40%;
    min-width: 400px;
    top: -70px;
    right: -150px;
}

.watermark.x {
    width: 50%;
    min-width: 450px;
    bottom: -70px;
    left: -150px;
}

p {
    font-size: 15px;
}

/* Home Page styling
==================== */
.home-page {
    width: 70%;
    max-width: 1900px;
    min-width: 350px;
    margin: auto;
}
.home-page h1 {
    margin-top: 90px;
    font-size: 70px;
    font-weight: 900;
    position: relative;
    display: inline-block;
}
.home-page h1 .xo {
    top: 0;
    left: -40px;
}
.home-page h1 span.color-yellow {
    color: var(--bg-accent-color-yellow);
}
.home-page h1 span.color-green {
    color: var(--bg-accent-color-green);
}
.home-page #start-game {
    margin-top: 50px;
    display: block;
    padding: 15px 20px;
    min-width: 250px;
    border: none;
    background: var(--bg-accent-color-yellow);
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    transform: translateY(-8px);
    box-shadow: 0px 8px 0px var(--bg-accent-color-yellow-dark);
    transition: box-shadow 0.2s ease, transform 0.2s ease; 
}

/* Match Details Form Page Styling
================================== */
.match-details-page form{
    margin: 50px 0px;
    width: 70%;
}
.match-details-page form .form-boxes-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.match-details-page form .form-box{
    background: var(--bg-light-color);
    padding: 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}
.match-details-page form .form-box *{
    display: block;
}
.match-details-page form .form-box h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 100%;
    margin-bottom: 20px ;
    gap: 10px;
}
.match-details-page form .form-box img{
    width: 20px;
}
.match-details-page form .form-box .player-one-head span{
    color: var(--bg-accent-color-green)
}
.match-details-page form .form-box .player-two-head span{
    color: var(--bg-accent-color-yellow)
}
.match-details-page form .form-box input{
    width: 100%;
    background-color: var(--bg-dark-color);
    border: none;   
    margin: 10px 0px;
    height: 40px;
    border-radius: 10px;
    padding: 0px 10px;
}
.match-details-page form .form-box:first-of-type input:focus{
    outline: 2px solid var(--bg-accent-color-green);
}
.match-details-page form .form-box:nth-of-type(2) input:focus{
    outline: 2px solid var(--bg-accent-color-yellow);
}

.match-details-page form button{
    margin-top: 50px;
    display: block;
    padding: 15px 20px;
    min-width: 250px;
    border: none;
    background: var(--bg-accent-color-yellow);
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    transform: translateY(-8px);
    box-shadow: 0px 8px 0px var(--bg-accent-color-yellow-dark);
    transition: box-shadow 0.2s ease, transform 0.2s ease; 
}

/* Media Queries */
@media screen and (max-width: 900px) {
    .match-details-page form{
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .match-details-page form .form-boxes-wrapper{
        flex-direction: column;
    }
    .match-details-page form .form-box{
        width: 100%;
    }
}

/* Match Playground Page
======================== */
.playground-page {
    width: 50%;
    min-width: 300px;
    max-width:550px;
    margin: auto;
}
.playground-page .players-contianer{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.playground-page .players-contianer .player-one-name{
    color: var(--bg-accent-color-green);
}
.playground-page .players-contianer .player-two-name{
    color: var(--bg-accent-color-yellow);
}
.playground-page .players-contianer .vs-tag{
    color: var(--bg-accent-color-green);
    font-size: 50px;
    font-weight: 900;
}
.playground-page .players-contianer .vs-tag::first-letter{
    color: var(--bg-accent-color-yellow);
}
.playground-page .score-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.playground-page .score-wrapper > *{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2B137;
    width: 100%;
    border-radius: 12px;
    color: var(--bg-dark-color);
    font-size: 22px;
}
.playground-page .score-wrapper .tie-score {
    width: 250px;
    background: var(--bg-desaturated-color);
}
.playground-page .score-wrapper .player-one-score {
    background: var(--bg-accent-color-green);
}
.playground-page .controls-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;
}
.playground-page .controls-wrapper img{
    width: 80px;
}
.playground-page .controls-wrapper .current-turn {
    padding: 8px 20px;
    background: var(--bg-light-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.playground-page .controls-wrapper .current-turn span{
    color: var(--bg-desaturated-color);
    font-weight: 500;
}
.playground-page .controls-wrapper .current-turn img{
    width: 20px;
}
.playground-page .controls-wrapper #reset-board {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-8px);
    box-shadow: 0px 8px 0px #7c8d98;
    border: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.playground-page .controls-wrapper #reset-board svg {
    width: 15px;
    pointer-events: none;
}
.playground-page  .playgournd-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    gap: 15px;
    min-width: 290px;
}
.playground-page  .playgournd-wrapper .playgournd-square{
    padding: 10px;
    background: var(--bg-light-color);
    aspect-ratio: 1/1;
    border-radius: 20px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.playground-page  .playgournd-wrapper .playgournd-square img{
    width: 100%;
}
.playground-page  .playgournd-wrapper .playgournd-square.available{
    border:  2px solid var(--bg-light-color) !important;
    pointer-events: all;
    cursor: pointer;
}

/* Match Result Box
=================== */
.round-result-shadow {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.586);
    backdrop-filter: blur(2px);
}

.round-result-shadow .result-box {
    width: 100vw;
    padding: 50px 20px;
    background: var(--bg-dark-color);
}
.round-result-shadow .result-box p{
    color: var(--bg-desaturated-color);
}
.round-result-shadow .result-box h1.tie {
    color: var(--bg-desaturated-color)
}
.round-result-shadow .result-box h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.round-result-shadow .result-box h1 img{
    width: 50px;
}
.round-result-shadow .result-box h1 span.winner-player-1 {
    color: var(--bg-accent-color-green)
}
.round-result-shadow .result-box h1 span.winner-player-2 {
    color: var(--bg-accent-color-yellow)
}
.round-result-shadow .result-box h1.tie {
    color: var(--bg-desaturated-color)
}
.round-result-shadow .result-box .buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.round-result-shadow .result-box .buttons-wrapper button{
    margin-top: 50px;
    display: block;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    transform: translateY(-8px);
    transition: box-shadow 0.2s ease, transform 0.2s ease; 
}
.round-result-shadow .result-box .buttons-wrapper button#next-round{    
    background: var(--bg-accent-color-yellow);
    box-shadow: 0px 8px 0px var(--bg-accent-color-yellow-dark);
}
.round-result-shadow .result-box .buttons-wrapper button#quit-match{
    background: var(--bg-desaturated-color);
    box-shadow: 0px 8px 0px var(--bg-desaturated-dark-color);
    color: var(--bg-dark-color);
}
/* Media Queries */
@media screen and (max-width: 750px) {
    .round-result-shadow .result-box h1 {
        margin-top: 15px;
        flex-direction: column;
    }
}
